.copyright {
  display: block;
  color: #ffffff;
}
.copyright__text {
  flex: 2 0 100%;
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-family: $font-base;
  font-weight: inherit;
  color: inherit;
  padding: 0 1rem;
  text-align: center;
  &:not(:last-child) {
    border-right: 1px solid #ffffff;
  }
}
