.menu {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
}
.menu__list {
  @extend %ul-reset;
  font-size: 0;
  display: flex;
  transition: 0.5s;
}
.menu__item {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
}
.menu__link {
  position: relative;
  display: block;
  padding: 4rem 2rem;
  font-size: 6.3rem;
  line-height: 6.5rem;
  font-weight: 400;
  font-family: $font-second;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    &::after,
    &::before {
      opacity: 1;
    }
    &::after {
      left: -2.2rem;
    }
    &::before {
      right: -2.2rem;
    }
  }
  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
    width: 2.2rem;
    height: 0.5rem;
    display: block;
    background-color: #ffffff;
    opacity: 0;
    transition: left 0.3s linear, opacity 0.3s linear;
  }
  &::before {
    left: auto;
    right: -10%;
    transition: right 0.3s linear, opacity 0.3s linear;
  }
  &:active {
    color: #ffffff;
  }
}
.menu--footer {
  & .menu__list {
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  & .menu__item {
    margin: 0 2rem;

  }
  & .menu__link {
    padding: 1.5rem 0;
    font-size: 1.6rem;
    line-height: 2rem;
    font-family: $font-base;
    font-weight: 500;
    text-transform: none;
    &::after,
    &::before {
      content: none;
    }
    &::after {
      content: "";
      left: 0;
      right: 0;
      top: auto;
      bottom: 0;
      transform: none;
      width: 100%;
      height: 0.3rem;
    }
    &:active {
      color: rgba(255, 255, 255, 0.5);
      &::after {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}
