.menu {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
}
.menu__list {
  @extend %ul-reset;
  font-size: 0;
  display: flex;
  transition: 0.5s;
}
.menu__item {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
}
.menu__link {
  position: relative;
  display: block;
  padding: 4rem 2rem;
  font-size: 6.3rem;
  line-height: 6.5rem;
  font-weight: 400;
  font-family: $font-second;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    &::after,
    &::before {
      opacity: 1;
    }
    &::after {
      left: -2.2rem;
    }
    &::before {
      right: -2.2rem;
    }
  }
  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
    width: 2.2rem;
    height: 0.5rem;
    display: block;
    background-color: #ffffff;
    opacity: 0;
    transition: left 0.3s linear, opacity 0.3s linear;
  }
  &::before {
    left: auto;
    right: -10%;
    transition: right 0.3s linear, opacity 0.3s linear;
  }
  &:active {
    color: #ffffff;
  }
}
