.page {

}
.page-title {
  position: relative;
  z-index: 50;
  padding-top: 5rem;
  padding-bottom: 3.5rem;
  margin-bottom: 3.5rem;
  font-size: 6.3rem;
  line-height: 6.5rem;
  font-family: $font-second;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #373e42;
  background-image: url("../../img/bg/works-header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  &::after {
    content: "";
    position: absolute;
    z-index: 50;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    display: block;
    width: 9rem;
    height: 0.3rem;
    background-color: #373e42;
  }
}
.page-title--about {
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  margin-top: -1.5rem;
  background-image: url("../../img/bg/about-header.svg");
}
.page-title__img {
  position: absolute;
  z-index: -1;
  display: block;
  width: 50rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  svg {
    fill: #e2ebd0;
  }
}
.page-subtitle {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-top: 3.5rem;
  font-size: 3.5rem;
  line-height: 4rem;
  color: #566358;
  background-image: none;
  &::after {
    background-color: #566358;
  }
}
.page-text {
  text-align: left;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #566358;
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}
