.parallax-leaf {
  position: absolute;
  z-index: 20;
  top: 10%;
  left: -3%;
  width: 105%;
  height: 105%;
  display: block;
  @extend %cover;
}
.parallax-leaf-1 {
  background-image: url("../img/decor/parallax/layer_1.png");
  background-image: url("../img/decor/parallax/layer_1.webp");
}
.parallax-leaf-2 {
  background-image: url("../img/decor/parallax/layer_2.png");
  background-image: url("../img/decor/parallax/layer_2.webp");
}
.parallax-leaf-3 {
  top: -7%;
  background-image: url("../img/decor/parallax/layer_3.png");
  background-image: url("../img/decor/parallax/layer_3.webp");
}
.parallax-leaf-4 {
  top: 12%;
  background-image: url("../img/decor/parallax/layer_4.png");
  background-image: url("../img/decor/parallax/layer_4.webp");
}
