.socials {
  @extend %ul-reset;
  font-size: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.socials__item {
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
  &:not(:last-child) {
    margin-right: 2.8rem;
  }
}
.socials__link {
  display: block;
  height: 100%;
  text-decoration: none;
  line-height: 0;
  cursor: pointer;
  transition: 0.2s ease;
  svg {
    fill: #ffffff;
    transition: 0.2s ease;
  }
  &:hover {
    svg {
      fill: $accent;
    }
  }
  &:active {
    svg {
      transform: scale(1.2);
      fill: $accent-active;
    }
  }
}
.socials__icon {
  display: inline-block;
  font-size: 0;
  svg {
    width: 3rem;
    height: 3rem;
  }
}
.socials--footer {
  justify-content: flex-start;
  & .socials__item {
    &:first-child {
      margin-left: 2rem;
    }
  }
  & .socials__link {
    svg {
      fill: rgba(255, 255, 255, 0.5);
    }
    &:hover svg {
      fill: rgba(255, 255, 255, 1);
    }
  }
}
