.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
}
.user--main {
  .user__avatar {
    width: 18rem;
    height: 18rem;
  }
  .user__name {
    font-size: 3.5rem;
    line-height: 4rem;
  }
  .user__desc {
    font-size: 2rem;
    line-height: 3rem;
  }
}
.user__avatar {
  width: 14rem;
  height: 14rem;
  margin-bottom: 2rem;
  border-radius: 50%;
  overflow: hidden;
}
.user__avatar-img {
  width: 100%;
  height: 100%;
}
.user__name {
  margin-bottom: 1rem;
  font-size: 2.8rem;
  line-height: 3.4rem;
  font-weight: 500;
  color: white;
}
.user__desc {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: rgba(255, 255, 255, 0.8);
}
.user__avatar-img {}
