mixin menu(modificator)
  - var modificator = modificator || "";
    
  nav(class=`menu menu--${modificator}`)
    ul.menu__list
      li.menu__item
        a(href="index.html").menu__link На главную
      li.menu__item
        a(href="works.html").menu__link Мои работы
      li.menu__item
        a(href="about.html").menu__link Обо мне
      li.menu__item
        a(href="admin.html").menu__link Авторизация
