form(action="#" method="POST" name="newsletterfooter").search
	input(type="search" name="search-field" placeholder="Ihre e-mail" 
		required).search__input#search__input
	button(type="submit").btn.search__btn Ok
