mixin socials(modificator)
  - var modificator = modificator || "";
    
  ul(class=`socials ${modificator}`)
    li.socials__item
      a.socials__link(href="javascript:void(0);", target="_blank", rel="noopener noreferrer")
        +icon("socials__icon", "vk")
    li.socials__item
      a.socials__link(href="javascript:void(0);", target="_blank", rel="noopener noreferrer")
        +icon("socials__icon", "github")
    li.socials__item
      a.socials__link(href="javascript:void(0);", target="_blank", rel="noopener noreferrer")
        +icon("socials__icon", "in")
