extends ../basic/_forest
include ../blocks/_main-bg
  
block content
  include ../blocks/_preloader
  .wrapper.wrapper--index
    //HEADER
    //include ../layout/_header
    //END HEADER
    |
    |
    //MAIN CONTENT
    main.content

      include ../layout/_welcome
      //- |
      //- |
      //- include ../layout/_about
    //END CONTENT
    |
    |
    //MAIN FOOTER
    //include ../layout/_footer
    //END FOOTER
