extends ../basic/_template.pug

block content

  .wrapper
    //HEADER
    include ../layout/_header
    //END HEADER
    |
    |
    //MAIN CONTENT

    main.content
      //- include ../layout/_hero
      //- |
      //- |
      //- include ../layout/_about
    //END CONTENT
    |
    |
    //MAIN FOOTER
    include ../layout/_footer
    //END FOOTER
