extends ../basic/_forest

block content

  .wrapper
    //HEADER
    //include ../layout/_header
    //END HEADER
    |
    |
    //MAIN CONTENT

    main.content.content--index
      include ../layout/_welcome
      //- |
      //- |
      //- include ../layout/_about
    //END CONTENT
    |
    |
    //MAIN FOOTER
    //include ../layout/_footer
    //END FOOTER
