extends ../basic/_template


block content
  
  .wrapper
    //HEADER
    .wrapper__menu.wrapper__menu--vertical
      include ../blocks/_menu
    |
    |
    include ../layout/_header
    //END HEADER
    |
    |
    //MAIN CONTENT
    main.content.content--works
    
      h1.page-title Мои работы
      |
      |
      include ../layout/_works
      |
      |
    //END CONTENT
    |
    |
    //MAIN FOOTER
    include ../layout/_footer
    //END FOOTER
