extends ../basic/_template
include ../blocks/_menu

block content
  
  .wrapper
    //HEADER
    |
    |
    include ../layout/_header
    //END HEADER
    |
    |
    //MAIN CONTENT
    main.content.content--works
      |
      h1.page-title Мои работы
      |
      |
      include ../layout/_works
      |
      |
      include ../layout/_feedback

      block picture
          include ../blocks/_parallax
      |
      |
    //END CONTENT
    |
    |
    //MAIN FOOTER
    include ../layout/_footer
    //END FOOTER
    |
    |
    include ../blocks/_popup
