.feedback {
  position: relative;
  height: 100vh;
  //padding-top: 10rem;
  text-align: center;
  background-color: #dde3df;
  background-image: url("../../img/bg/forest-bottom@1x.png");
  background-image: url("../../img/bg/forest-bottom@1x.webp");
  @extend %cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  @include retina {
    background-image: url("../../img/bg/forest-bottom@2x.png");
    background-image: url("../../img/bg/forest-bottom@2x.webp");
  }
}
.feedback__inner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feedback-form {
  margin-bottom: 4rem;
  background-color: rgba(235, 239, 226, 0.6);
  border-radius: 0.5rem;
  overflow: hidden;
}
.feedback__arrow {
  position: absolute;
  z-index: 50;
  bottom: 4%;
  transform: rotate(180deg);
  display: inline-block;
  vertical-align: top;
}
