.footer {
  position: relative;
  padding-top: rem(20px);
  padding-bottom: rem(20px);
  background-color: #599111;
}
.footer__copyright {
  display: block;
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
}
