.footer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  //margin-top: -198px;
}
.footer__col {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 3rem 2rem;
  background-color: rgba(56, 62, 65, 0.85);
}
.footer__col-border {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.footer__col-left {
  flex-direction: column;
}
.footer__menu {
  margin-bottom: 1.2rem;
}
.footer__socials {
  display: flex;
  align-items: center;
}
.footer__quote {

}
.footer__copyright {
  justify-content: center;
  flex: 3 0 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  background-color: rgba(99, 141, 85, 0.85);
  .copyright {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .copyright__text {
    font-weight: 300;
  }
}
//@media screen and (max-width: 1120px) {
//  .footer {
//    margin-top: -241px;
//  }
//}
//@include laptop-df {
//  .footer {
//    margin-top: -222px;
//  }
//}
@include tablets-df {
  .footer {
    display: block;
    margin-top: -222px;
  }
  .footer__col {
    padding: 2rem 1rem;
  }
  .footer__col-left {
    flex-direction: row;
  }
  .footer__menu {
    margin-bottom: 0;
  }
  .footer__quote {
    padding: 0 2rem;
  }
}
@include phones-df {
  .footer__col {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .footer__menu {
    text-align: center;
  }
  .footer__col-left {
    display: block;
  }
  .footer__menu {
    margin-bottom: 2rem;
  }
  .footer__socials {
    justify-content: center;
  }
}
