.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  color: $light-1;
  //background-color: #80974e;
  background-image: url("../../img/bg/forest-desctop@1x.jpg");
  background-image: url("../../img/bg/forest-desctop@1x.webp");
  @include retina {
    background-image: url("../../img/bg/forest-desctop@2x.jpg");
    background-image: url("../../img/bg/forest-desctop@2x.webp");
  }
  @extend %cover;
  &::after {
    content: "";
    position: absolute;
    z-index: 50;
    top: 0;
    display: block;
    width: 100%;
    height: 24.8rem;
    background-image: $header-shadow;
    @extend %cover;
  }
}
.header__top {
  margin: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__socials {
  position: sticky;
  z-index: 200;
}
.header__arrow {
  position: absolute;
  z-index: 50;
  left: 50%;
  transform: translateX(-50%);
  bottom: 4rem;
}
.header__toggle {
  position: sticky;
  z-index: 300;
  display: inline-block;
  vertical-align: middle;
}
.header__bg-triangle {
  position: absolute;
  z-index: 40;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 0;
}
.header__bottom {
  position: absolute;
  z-index: 50;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 34rem;
}

@include laptop {

}
@include tablets-df {
  .header {
    background-image: url("../../img/bg/forest-tablet@1x.jpg");
    @include retina {
      background-image: url("../../img/bg/forest-tablet@2x.jpg");
    }
  }
}
@include phones-df {
  .header {
    background-image: url("../../img/bg/forest-phone@1x.jpg");
    @include retina {
      background-image: url("../../img/bg/forest-phone@2x.jpg");
    }
  }
}
