.header {
  position: relative;
  z-index: 80;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 65rem;
  height: 100vh;
  color: $light-1;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    z-index: 50;
    top: 0;
    display: block;
    width: 100%;
    height: 24.8rem;
    background-image: $header-shadow;
    @extend %cover;
  }
}
.header__bg {
  position: absolute;
  z-index: -1;
  top: -3rem;
  left: -3rem;
  width: 107%;
  height: 107%;
  display: block;
}
.header__top {
  margin: 3rem;
  height: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__socials {
  position: sticky;
  z-index: 200;
}
.header__arrow {
  position: absolute;
  z-index: 50;
  left: 50%;
  transform: translateX(-50%);
  bottom: 4rem;
}
.header__toggle {
  position: sticky;
  z-index: 300;
  display: inline-block;
  vertical-align: middle;
}
.header__menu {
  position: relative;
}
.header__menu--show .header__menu-wrapper {
  transform: translateY(0);
}
.header__menu--show .header__toggle {
  position: fixed;
  right: 2.25rem;
  top: 2.25rem;
}
.header__menu-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 250;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(108, 156, 90, 0.87);
  transform: translateY(-100%);
  transition: transform 1s ease;
}
.header__bg-triangle {
  position: absolute;
  z-index: 40;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 0;
}
.header__bottom {
  position: absolute;
  z-index: 50;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 34rem;
}

@include laptop {
  .header {
    min-height: auto;
  }
}
@include tablets-df {
}
@include phones-df {
}
