.header {
  position: relative;
  color: $gray-1;
  background-color: #599111;
}
.header__top {
  padding: 2rem 0;
  text-align: center;
  color: #ffffff;
}
.header__logo {
  display: inline-block;
  vertical-align: middle;
  align-self: center;
  font-size: 2rem;
  // width: 12.5%;
  // width: rem(120px);
  // margin-right: 2.55%;
  //color: #fff;
}
.header__desc {
  font-size: 2rem;
}

@include laptop {
  .header {
    background-color: black;
  }
}
@include tablets {
  .header {
    background-color: violet;
  }
}
