.welcome {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.welcome__bg {
  position: absolute;
  z-index: 40;
  top: -3rem;
  left: -3rem;
  width: 107%;
  height: 107%;
  display: block;
}
.welcome__box {
  position: relative;
  z-index: 50;
  width: 38rem;
}
.welcome__box-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.5rem;
  color: #ffffff;
  background-color: rgba(18, 38, 32, 0.6);
  backface-visibility: hidden;
  overflow: hidden;
}
.welcome__info {
  padding: 4rem 2rem 3rem 2rem;
}
.welcome__user {
  margin-bottom: 2rem;
}
.welcome__nav {
  background-color: rgba(108, 156, 90, 0.7);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.welcome__nav-link {
  flex-basis: 50%;
  line-height: 3rem;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
  color: #ffffff;
  &:not(:last-child) {
    border-right: 0.125rem solid rgba(255, 255, 255, 0.5);
  }
}
.welcome__copyright {
  position: absolute;
  z-index: 70;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}
