.works {
  text-align: center;
}
.works__outer {
  position: relative;
}
.works__outer.is-fixed .works__filter-wrapper {
  position: fixed;
  z-index: 70;
  top: 0;
  left: 0;
  width: 100%;
}
.works__outer.is-fixed .works__gallery {
  padding-top: 100px;
}
.works__filter-wrapper {
  position: relative;
  //background-color: darken(#f8f9f5, 2%);
  box-shadow: 0 0.1rem 0.1rem rgba(108, 156, 90, 0.5);
  z-index: 70;
}
.works__filter {
  position: relative;
  width: 100%;
  margin: 0;
}
.works__filter-item {
  display: inline-block;
  vertical-align: top;
  font-size: 1.6rem;
  &:nth-child(-n+2) {
    .works__filter-link {
      border-top-left-radius: 2.2rem;
      border-bottom-left-radius: 2.2rem;
    }
  }
  &:last-child {
    .works__filter-link {
      border-right: 0.1rem solid #bdc3c7;
      border-top-right-radius: 2.2rem;
      border-bottom-right-radius: 2.2rem;
    }
  }
  &--active {
    .works__filter-link {
      color: #ffffff;
      background-color: $accent;
      border-color: $accent;
    }
  }
}
.works__btn {
  margin-bottom: 4rem;
  padding: 1.2rem 2rem;
  line-height: 2rem;
  font-weight: 500;
  text-transform: none;
  color: #ffffff;
  background-color: $accent;
  border: 0.1rem solid transparent;
  border-radius: 2.2rem;
  transition: 0.2s;
  &:active {
    transform: scale(0.95);
  }
}
.works__btn-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
  line-height: 0;
  fill: #ffffff;
}
@include laptop-df {
  .works__outer.is-fixed .works__gallery {
    padding-top: 90px;
  }
}
@include tablets-df {
  .works__filter {
    height: 6rem;
    width: 25rem;
    margin: 0 auto;
  }
}
@include phones-df {

}

