footer.footer
  .footer__col
    .footer__menu
    .footer__socials
      include ../blocks/_socials
  .footer__col
    .footer__quote
      .quote
        p.quote__text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
        p.quote__author Martin Golding
  .footer__col
    .footer__copyright 
      include ../blocks/_copyright
