include ../blocks/_menu
include ../blocks/_socials
  
footer.footer
    .footer__col.footer__col-left.footer__col-border
      .footer__menu
        +menu("footer")
      .footer__socials
        +socials("socials--footer")
    .footer__col
      .footer__quote
        include ../blocks/_quote
    .footer__col.footer__copyright
        include ../blocks/_copyright
