include ../blocks/_user
  
block variables
  - var userMain = "user--main"
    
header.header
  .header__top
    .header__socials
      include ../blocks/_socials
    .header__arrow
      a(href="#").arrow-down Стрелка вниз
        +icon("arrow-down__icon", "arrow-down", 26)
    .header__toggle
      include ../blocks/_hamburger
  .header__bottom
    +user(userMain)
  +svg-pic("header__bg-triangle", "triangle", 1000, 86)
