include ../blocks/_main-bg
include ../blocks/_user
include ../blocks/_socials
include ../blocks/_traingle
include ../blocks/_menu
  
header.header
  .header__bg.parallax-bg.parallax-layer
    +main-bg()
  .header__top
    .header__socials
      +socials()
    .header__arrow
      a(href="#").arrow-down.js-arrow-down Стрелка вниз
        +icon("arrow__icon", "arrow-down", 26)
    .header__menu
      .header__toggle
        include ../blocks/_hamburger
      .header__menu-wrapper
        +menu("vertical")
  .header__bottom.parallax-user
    +user("user--main")
  .header__bg-triangle
    +traingle() 
