include ../blocks/_main-bg
include ../blocks/_user
include ../blocks/_copyright

section.welcome
  .welcome__bg.parallax-layer
    +main-bg()
  .welcome__box
    .welcome__box-inner
      .welcome__info
        .welcome__user
          +user()
        .welcome__socials      
          include ../blocks/_socials
      nav.welcome__nav
        a(href="works.html").btn.welcome__nav-link Мои работы
        a(href="about.html").btn.welcome__nav-link Обо мне
  .welcome__copyright
    +copyright()
    
